/* Custom styles for the navigation bar */
#header .nav-link {
  color: var(--bs-dark); /* Bootstrap variable for dark color */
  background-color: transparent;
  transition: color 0.2s; /* Smooth transition for color change */
}

#header .nav-link:hover {
  color: var(--bs-gray-600); /* Lighter shade for hover */
  background-color: transparent; /* Keep the background transparent */
}

#header .nav-link.active {
  color: white;
  background-color: var(--bs-dark);
}


#hero span {
  font-weight: 600;
}

#hero img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-category {
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 15px;
}

#portfolio h3 {
  font-size: 1.5rem !important;
}


.portfolio-image {
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resume-image-container {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

#resume-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* For the heading of each portfolio item under the Learn more button */
.portfolio-description-heading {
  font-weight: 700 !important;
}

li {
  margin-bottom: 2px !important;
}

#family-image{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%; /* Ensure it stretches to the width of its container */
  height: auto; /* Maintain aspect ratio */
  margin: 0; /* Remove any default margin */
}

.bi-cup-hot {
  vertical-align: -0.125em;
  fill: currentColor; /* Or any specific color you want */
}

/* If you need to adjust the margin or flex behavior specifically for this icon */
.bi-cup-hot.text-body-secondary.flex-shrink-0.me-3 {
  margin-right: 1rem !important; /* Adjust if necessary */
  flex-shrink: 0 !important;
}

/* About Page Paragraph Text */

.text-box {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: left;
}

/* On the Contact Page */
.form-container iframe {
  border: 0; /* Remove iframe border */
  transition: min-height 0.3s; /* Smooth transition for height changes */
}
<<<<<<< HEAD
=======





>>>>>>> 281b777 (remove upwork top rated logo)
